extends layout

block content
  h1= title 
  table
    tr
      td GET 
      td /api/loro
      td Get all Loros
    tr
      td POST
      td /api/loro
      td Create a Loro 
    tr
      td GET
      td /api/loro/:loro_id
      td Get a Loro
    tr
      td DELETE 
      td /api/loro/:loro_id
      td End a Loro
    tr
      td GET 
      td /api/loro/:loro_id/users
      td Get users in Loro
    tr
      td PUT 
      td /api/loro/:loro_id/users
      td Join a Loro
    tr
      td DELETE
      td /api/loro/:loro_id/users/:user_id
      td Leave a Loro
    tr
      td GET 
      td /api/loro/:loro_id/songs
      td Get Loro's songs
    tr
      td PUT 
      td /api/loro/:loro_id/songs
      td Add a Loro song
    tr
      td GET 
      td /api/loro/:loro_id/songs/:song_id
      td Get a Loro song
    tr
      td DELETE 
      td /api/loro/:loro_id/songs/:song_id
      td Remove a Loro song
