extends layout

block content
  script(src="https://cdn.socket.io/socket.io-1.3.7.js")
  script(src="https://code.jquery.com/jquery-1.11.1.js")
  h1= title
  p#count #{count}
  p in the lobby 
  script.
    var socket = io('loro-music.herokuapp.com');
    socket.on('update', function(data) {
      console.log('client updated');
      $("#count").text(data.count);
    });

